<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../style.css" />
  <title>App GH</title>
</head>
<body class="layout">

  <header class="header">
    <strong>App GH</strong>
    <div>
      <span id="userInfo"></span>
      <button id="logout">Salir</button>
    </div>
  </header>

  <div class="body">
    <nav class="sidebar">
      <ul id="menu"></ul>
    </nav>

    <main id="content" class="content"></main>
  </div>

  <script type="module" src="./layout.js"></script>
</body>
</html>
